APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DOCKER_NGINX_PORT=8085
DOCKER_MYSQL_PORT=33066
DOCKER_TEST_MYSQL_PORT=33067

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=alyce
DB_USERNAME=root
DB_PASSWORD=root
